<section class="section">
  <div class="container">
    <div class="columns">

      <h1> Mine Tweets Hashtags</h1>

      <table>
        <tr>
          <th>Hashtag</th>
          <th> <%= link_to 'Add', new_hashtag_path %> </th>
          <th> <%= link_to 'Show all tweets', list_tweets_path %> </th>
        </tr>

        <% @hashtags.each do |hash| %>

          <tr>
            <td> <%= hash.tag %> </td>
            <td> <%= link_to 'Show', hashtag_path(hash) %> </td>
            <td> <%= link_to 'Update', hashtag_path(hash),
              method: :put %> </td>
            <td> <%= link_to 'Destroy', hashtag_path(hash),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
          </tr>

        <% end %>

      </table>

    </div>
  </div>
</section>