<html>
  <head>
    <title>MineTweets</title>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <div class="columns">

          <h1> Mine Tweets Hashtags</h1>

          <br> <p> <%= link_to 'Show all tweets', list_tweets_path %> </p>
          <br> <p> <%= link_to 'Add Hashtag', new_hashtag_path %> </p>

          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Hashtag</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @hashtags.each do |hash| %>

                  <tr>
                    <td> <%= hash.tag %> </td>
                    <td> <%= link_to 'Show', hashtag_path(hash) %> </td>
                    <td> <%= link_to 'Update', hashtag_path(hash),
                      method: :put %> </td>
                    <td> <%= link_to 'Remove', hashtag_path(hash),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>