<div class="tweetEntry-tweetHolder">

  <% Tweet.where(hashtag_id: @hashtag.id).each do | tw | %>

    <div class="tweetEntry">

      <div class="tweetEntry-content">

        <img class="tweetEntry-avatar" src= <%= tw.url_img_user %> >

        <strong class="tweetEntry-fullname"> <%= tw.user_name %> </strong>

        <span class="tweetEntry-username"> <b> @<%= tw.user_screen_name %> </b> </span>

        <span class="tweetEntry-timestamp"> <%= tw.date_post %> </span>

        <div class="tweetEntry-text-container"> <%= tw.tweet_desc %> </div>

      </div>
    </div>

  <% end %>
</div>
